
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <img src="~/image/2021810.jpg"  style="width:500px;height:500px"/>
</head>
<body>
</body>
</html>
