
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <button id="dj">传递 sql 二维码</button>
    <script>
        $("#dj").click(function ()
        {
            $.ajax({
                type: "",
                dataType: "",
                data: "",
                url: "",
                success: "",
                error: function ()
                {

                }
            })
        })
    </script>
</body>
</html>
